* {
    box-sizing: border-box;
    margin: 0;
}
/*Main Body Styles*/
body {
    background-color: goldenrod;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Heading*/
#heading {
    background-color: green;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid royalblue;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 1;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-family: 'Bradley Hand', cursive;
    width: 100%;
}

h1 {
    padding: 10px;
    text-align: center;
}

h1 > span {
    font-size: 20px;
}

img {
    width: 271px;
    height: 203px;
    border: 1px ridge royalblue;
    border-radius: 50%;
      
}

@media screen and (min-width: ){
    
}

  
/*Footer*/
footer {
    background-color: blueviolet;
}

