* {
    box-sizing: border-box;
    margin: 0;
  
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    color: whitesmoke;
}

/*Header*/
header {
    background-color: forestgreen;
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    flex: 1 1;
    justify-content: center; 
    border-bottom: 2px solid royalblue;
}

#logo {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: 'Bradley Hand', cursive;
    letter-spacing: 4px;
    text-align: center;
    
}

img {
    width: 271px;
    height: 203px;
    align-items: flex-start;
}

h1 {
    align-self: center;
    text-transform: uppercase;
}

span {
    font: 25px calibri, sans-serif;
    text-transform: lowercase;
    line-height: 1.7;
}    

.welcome {
    text-align: center;
    
}

/*Navigation*/
nav {
    padding-top: 20px;
}

.ulnav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    padding: 0 17px 0 17px;
    
}

li {
    border: 1px solid grey;
    font: 17px calibri;list-style-type: none;
}




/**Main Body*/
main {
    background-color: goldenrod;
}

  
/*Footer*/
footer {
    background-color: blueviolet;
    text-align: center;
}

